@charset "ISO-8859-1";

.nav-top {
	position: fixed;
	width: 100%;

	top: 0;
}

.nav-bar {
	width: 100%;
	overflow: hidden;
	display: block;
	background-color: #ff0000;
	position: fixed;
}

.nav-bar-item {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0;
}

.nav-bar-item-right {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0;
	color: #FFFFFF;
	background-color: #FF0000;
	float: right!important;
}

.main-content {
	display: block;
	position: relative;
	padding: 10px;
	clear: both;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
